.root {
  position: fixed;
  z-index: $zIndexAboveAll;
  inset: 0;

  pointer-events: none;

  & > div {
    position: absolute;
    inset: 0;
    margin-inline: auto;
    width: 100%;

    @include layout-grid;

    & > span {
      background: red;
      opacity: 0.1;
    }
  }
}
